{{ define "main" }}
<div class="list-content">
    <header>
        <h1>{{ .Title }}</h1>
        {{ if .Content }}
        <div class="section-description">
            {{ .Content }}
        </div>
        {{ end }}
    </header>
    
    {{ $paginator := .Paginator }}
    
    {{ if eq .Section "projects" }}
    <div class="projects">
        {{ range $paginator.Pages }}
        {{ partial "project-card.html" . }}
        {{ end }}
    </div>
    
    {{ else if eq .Section "publications" }}
    <div class="publications">
        {{ range $paginator.Pages }}
        {{ partial "publication-item.html" . }}
        {{ end }}
    </div>
    
    {{ else }}
    <!-- Default blog/article layout -->
    <div class="posts">
        {{ range $paginator.Pages }}
        {{ partial "blog-post-item.html" . }}
        {{ end }}
    </div>
    {{ end }}
    
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}